*{
    margin: 5px;
    padding: 5px;
}
body{
    background-color: rgb(0, 233, 182);
}
.padre{
    background-color: rgba(0, 0, 145, 0.781);
    padding: 7px;
    width: auto;
    height: 450px;
}
.titulo{
    background-color: azure;
}
.menu{
    background-color: cadetblue;
}
.contenido{
    background-color: rgb(100, 171, 237);
    width: auto;
    height: 320px;
}
.pie{
    background-color: rgb(64, 173, 224);
}
.c1{
    background-color: rgb(0, 0, 75);
    width: 50px;
    height: 50px;
    position: fixed;
    /*top: 50px;
    left: 100px;*/
    bottom: 50px;
    right: 50px;
}
.c2{
    background-color: rgb(4, 0, 230);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    right: 100px;
}
.c3{
    background-color: rgb(43, 43, 255);
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
}
.c4{
    background-color: rgba(58, 61, 255, 0.856) ;
    width: 50px;
    height: 50px;
    /*position: relative;
    top: 50px;
    left: 200px;*/
    position: sticky;
    top: 150px;
}
.c22{
    background-color: black;
    width: auto;
    height: 30px;
}
.cara{
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25%;
    right: 40%;
}
.ojo{
    background-color: black;
    position: absolute;
    top: auto;
    right: 30px;
    width: 50px;
    height: 50px;
}
.ojo2{
    background-color: black;
    position: absolute;
    top: auto;
    left: 10px;
    width: 50px;
    height: 50px;
}
.boca{
    background-color: black;
    position: absolute;
    bottom: 20px;
    left: 40%;
    width: 70px;
    height: 40px;
}